body {
  background-color: #0b0e12;
  font-family: Helvetica;
}

#cvs {
  display: block;
  margin: 0px auto;
}
.container {
  width: 1550px;
  margin: 0px auto;
}

#elementHolder {
  display: flex;
}
#elementHolder div {
  border: black 1px solid;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  font-weight: bolder;
  text-shadow: 
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  color: white;
  margin: 10px 10px 10px 0px;
  width: 100px;
  transition: filter 1s;
  filter: drop-shadow(none);
}
#elementHolder div:hover {
  cursor: pointer;
  transition: filter 1s;
  filter: drop-shadow(0px 0px 5px white);
}

#descText {
  color: white;
}

#infoPanel {
  color: white;
  pointer-events: none;
  display: flex;
}
#infoPanel p {
  margin-right: 20px;
}